    body {
    background-color: #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Arial";
}

.poster {
    background-color: #db0000;
    margin: 10px auto;
    max-width: 350px;
    padding: 30px 10px;
    border: 5px double #FFFFFF;
}

.poster p {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;