.flipCard {
    width: 400px;
    height: 200px;
    position: relative;
    margin: 50px auto;
}

.flipCard .card .front {
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 160px;
    background-color: #05EAE0;
    border: 3px solid white;
    color: white;
}

.flipCard .card .back {
    background-color: #ff7f50;
    border: 3px solid white;
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Georgia;
    font-size: 2em;
}