.code {
    background-color: #242533;
    font-family: "Courier New";
    color: #BFDAF9;
    font-weight: bold;
    padding: 5px;
}

.firstIndent {
    position: relative;
    left: 30px;
    color: #43cbff
}