h4 {
    position: absolute;
    top: 0px;
    background-color: white;
    padding: 5px;
    font-family: sans-serif;
}

p {
    position: absolute;
    top: 133px;
    left: 232px;
    background-color: turquoise;
    padding: 5px;
    color: #ffffff;
    font-family: sans-serif;
}