body {
    background: #b8a7a7;
}

.type span {
    display: block;
}

.type {
    background-color: #221f1f;
    width: 800px;
    height: 350px;
    margin: 50px auto;
    text-align: center;
    color: #FFFFFF;
    line-height: 0.85;
    font-family: Geneva, sans-serif;
    font-weight: bold;
    border: 10px solid #564f4f;
    padding: 10px 60px 0px 0px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}