body {
    background: #b8a7a7;
}

.type span {
    display: block;
}

.type {
    background-color: #221f1f;
    width: 800px;
    height: 350px;
    margin: 50px auto;
    text-align: center;
    color: #FFFFFF;
    line-height: 0.85;
    font-family: Geneva, sans-serif;
    font-weight: bold;
    border: 10px solid #564f4f;
    padding: 10px 60px 0px 0px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#author {
    font-family: "trebuchet ms";
    font-size: 24pt;
    margin-top: 30px;
    float: right;
    font-style: italic;
    font-weight: normal;
    text-decoration: overline;
}

.type span:nth-child(1) {
    font-size: 100px;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font: 80px 'Arial Black';
}

.type span:nth-child(2) {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    z-index: 1;
    text-shadow: #FFFF00;
    text-shadow: 1px 2px 20px yellow;
    transform: rotate(-4deg);
    transform-origin: 0 0;
    color: #FFFF66;
    margin-top: 5px;
}

.type span:nth-child(3) {
    margin-top: -5px;
    font-family: "Times New Roman";
    font-size: 100px;
    margin-top: -12px;
    color: #4c9f41;
    text-shadow: 4px 4px 0 #333333;
}